@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

html {
  font-family: "Roboto Condensed";
}

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 25px;
}

.greeting {
  display: flex;
  margin: 70px 0;
}
